<div id="projets" class="relative bg-gray-50 py-16 sm:py-24 lg:py-32">
  <div class="relative">
    <div class="text-center mx-auto max-w-md px-4 sm:max-w-3xl sm:px-6 lg:px-8 lg:max-w-7xl">
      <h2 class="text-base font-semibold tracking-wider text-opal uppercase">Projets</h2>
    </div>
    <div class="mt-12 mx-auto max-w-md px-4 grid gap-8 sm:max-w-lg sm:px-6 lg:px-8 lg:grid-cols-3 lg:max-w-7xl">
      <div class="flex flex-col rounded-lg shadow-lg overflow-hidden">
        <div class="flex-shrink-0">
          <img class="h-48 w-full object-cover" src="../../assets/projects/standup-bis.jfif" alt="standup">
        </div>
        <div class="flex-1 bg-white p-6 flex flex-col justify-between">
          <div class="flex-1">
            <p class="text-sm font-medium text-opal">
              <a href="#" class="hover:underline">
                Standup
              </a>
            </p>
            <div class="flex items-center justify-between">
              <p class="text-xl font-semibold text-darkGray">
                A qui le tour?
              </p>
              <div class="flex flex-row">
                <a href="https://standup.brickriverlab.com/" target="_blank" class="block mt-2 pr-2">
                  <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6 hover:text-opal" fill="none"
                    viewBox="0 0 24 24" stroke="currentColor">
                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                      d="M13.828 10.172a4 4 0 00-5.656 0l-4 4a4 4 0 105.656 5.656l1.102-1.101m-.758-4.899a4 4 0 005.656 0l4-4a4 4 0 00-5.656-5.656l-1.1 1.1" />
                  </svg>
                </a>
                <a href="https://github.com/MargotToullier/stand-up" target="_blank" class="block mt-2 ">
                  <svg class="h-6 w-6 hover:text-opal" fill="currentColor" viewBox="0 0 24 24" aria-hidden="true">
                    <path fill-rule="evenodd"
                      d="M12 2C6.477 2 2 6.484 2 12.017c0 4.425 2.865 8.18 6.839 9.504.5.092.682-.217.682-.483 0-.237-.008-.868-.013-1.703-2.782.605-3.369-1.343-3.369-1.343-.454-1.158-1.11-1.466-1.11-1.466-.908-.62.069-.608.069-.608 1.003.07 1.531 1.032 1.531 1.032.892 1.53 2.341 1.088 2.91.832.092-.647.35-1.088.636-1.338-2.22-.253-4.555-1.113-4.555-4.951 0-1.093.39-1.988 1.029-2.688-.103-.253-.446-1.272.098-2.65 0 0 .84-.27 2.75 1.026A9.564 9.564 0 0112 6.844c.85.004 1.705.115 2.504.337 1.909-1.296 2.747-1.027 2.747-1.027.546 1.379.202 2.398.1 2.651.64.7 1.028 1.595 1.028 2.688 0 3.848-2.339 4.695-4.566 4.943.359.309.678.92.678 1.855 0 1.338-.012 2.419-.012 2.747 0 .268.18.58.688.482A10.019 10.019 0 0022 12.017C22 6.484 17.522 2 12 2z"
                      clip-rule="evenodd" />
                  </svg>
                </a>
              </div>
            </div>
            <p class="mt-3 text-base text-gray-500 text-justify">
              Application Angular/Firebase réalisé en parallèle de mon stage pour connaitre l'ordre de passage du daily
              stand-up. Depuis l'ajout de la fonction random de base, je continue à développer des fonctionnalités.
            </p>
          </div>
          <div class="mt-6 flex items-center">
            <div>
              <p class="text-sm font-medium text-darkGray">
                Angular, TailwindCSS, Firebase
              </p>
            </div>
          </div>
        </div>
      </div>

      <div class="flex flex-col rounded-lg shadow-lg overflow-hidden">
        <div class="flex-shrink-0">
          <img class="h-48 w-full object-cover" src="../../assets/projects/recherche-emploi.jpg" alt="recherche-emploi">
        </div>
        <div class="flex-1 bg-white p-6 flex flex-col justify-between">
          <div class="flex-1">
            <p class="text-sm font-medium text-opal">
                Portfolio
            </p>
            <a href="#presentation" class="block mt-2">
              <p class="text-xl font-semibold text-darkGray">
                Recherche d'emploi
              </p>
              <p class="mt-3 text-base text-gray-500 text-justify">
                Développement de ce portfolio dans le but de ma recherche d'emploi.
              </p>
            </a>
          </div>
          <div class="mt-6 flex items-center">
            <div>
              <p class="text-sm font-medium text-darkGray">
                Angular, TailwindCSS
              </p>
            </div>
          </div>
        </div>
      </div>

      <div class="flex flex-col rounded-lg shadow-lg overflow-hidden">
        <div class="flex-shrink-0">
          <img class="h-48 w-full object-cover" src="../../assets/projects/plusdebad.jpg" alt="plus2bad">
        </div>
        <div class="flex-1 bg-white p-6 flex flex-col justify-between">
          <div class="flex-1">
            <p class="text-sm font-medium text-opal">
                Plus2Bad
            </p>
              <p class="text-xl font-semibold text-darkGray">
                Gestion d'étiquettes
              </p>
              <p class="mt-3 text-base text-gray-500 text-justify">
                Dernier projet client réalisé pendant la formation. Réalisé pour le responsable du magasin Plus2bad à
                Nantes. Développement d'un outil permettant la création d'étiquette automatique des prix des produits
                pour les magasins ainsi qu'une interface de gestion des références de raquette de badminton spécifique à
                chaque magasin.
              </p>
          </div>
          <div class="mt-6 flex items-center">
            <div>
              <p class="text-sm font-medium text-darkGray">
                React, CSS, Bootstrap, Node, MySQL, Méthodes agiles
              </p>
            </div>
          </div>
        </div>
      </div>

      <div class="flex flex-col rounded-lg shadow-lg overflow-hidden">
        <div class="flex-shrink-0">
          <img class="h-48 w-full object-cover" src="../../assets/projects/hackaton.jpg" alt="hackaton">
        </div>
        <div class="flex-1 bg-white p-6 flex flex-col justify-between">
          <div class="flex-1">
            <p class="text-sm font-medium text-opal">
              <a href="#" class="hover:underline">
                Hackaton
              </a>
            </p>
            <div class="flex items-center justify-between">
              <p class="text-xl font-semibold text-darkGray">
                Adopt un alien!
              </p>
              <div class="flex flex-row">
                <a href="https://adopt-1-alien.netlify.app/" target="_blank" class="block mt-2 pr-2">
                  <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6 hover:text-opal" fill="none"
                    viewBox="0 0 24 24" stroke="currentColor">
                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                      d="M13.828 10.172a4 4 0 00-5.656 0l-4 4a4 4 0 105.656 5.656l1.102-1.101m-.758-4.899a4 4 0 005.656 0l4-4a4 4 0 00-5.656-5.656l-1.1 1.1" />
                  </svg>
                </a>
                <a href="https://github.com/MargotToullier/Adopt-un-alien" target="_blank" class="block mt-2 ">
                  <svg class="h-6 w-6 hover:text-opal" fill="currentColor" viewBox="0 0 24 24" aria-hidden="true">
                    <path fill-rule="evenodd"
                      d="M12 2C6.477 2 2 6.484 2 12.017c0 4.425 2.865 8.18 6.839 9.504.5.092.682-.217.682-.483 0-.237-.008-.868-.013-1.703-2.782.605-3.369-1.343-3.369-1.343-.454-1.158-1.11-1.466-1.11-1.466-.908-.62.069-.608.069-.608 1.003.07 1.531 1.032 1.531 1.032.892 1.53 2.341 1.088 2.91.832.092-.647.35-1.088.636-1.338-2.22-.253-4.555-1.113-4.555-4.951 0-1.093.39-1.988 1.029-2.688-.103-.253-.446-1.272.098-2.65 0 0 .84-.27 2.75 1.026A9.564 9.564 0 0112 6.844c.85.004 1.705.115 2.504.337 1.909-1.296 2.747-1.027 2.747-1.027.546 1.379.202 2.398.1 2.651.64.7 1.028 1.595 1.028 2.688 0 3.848-2.339 4.695-4.566 4.943.359.309.678.92.678 1.855 0 1.338-.012 2.419-.012 2.747 0 .268.18.58.688.482A10.019 10.019 0 0022 12.017C22 6.484 17.522 2 12 2z"
                      clip-rule="evenodd" />
                  </svg>
                </a>
              </div>
            </div>
            <p class="mt-3 text-base text-gray-500 text-justify">
              Le marathon du code organisé par l'école. Le thème : l'espace ! C'est parti, nous sommes 4 et nous
              devons créer une application en 24h. A regarder en version mobile seulement !
            </p>
          </div>
          <div class="mt-6 flex items-center">
            <div>
              <p class="text-sm font-medium text-darkGray">
                React, CSS, API
              </p>
            </div>
          </div>
        </div>
      </div>

      <div class="flex flex-col rounded-lg shadow-lg overflow-hidden">
        <div class="flex-shrink-0">
          <img class="h-48 w-full object-cover" src="../../assets/projects/fabriqueBis.jpg" alt="fleurs">
        </div>
        <div class="flex-1 bg-white p-6 flex flex-col justify-between">
          <div class="flex-1">
            <p class="text-sm font-medium text-opal">
              <a href="#" class="hover:underline">
                En cours
              </a>
            </p>
            <div class="flex items-center justify-between">
              <p class="text-xl font-semibold text-darkGray">
                La fabrique florale
              </p>
              <div class="flex flex-row">
                <a href="https://github.com/MargotToullier/la_fabrique_front/tree/master" target="_blank"
                  class="block mt-2 ">
                  <svg class="h-6 w-6 hover:text-opal" fill="currentColor" viewBox="0 0 24 24" aria-hidden="true">
                    <path fill-rule="evenodd"
                      d="M12 2C6.477 2 2 6.484 2 12.017c0 4.425 2.865 8.18 6.839 9.504.5.092.682-.217.682-.483 0-.237-.008-.868-.013-1.703-2.782.605-3.369-1.343-3.369-1.343-.454-1.158-1.11-1.466-1.11-1.466-.908-.62.069-.608.069-.608 1.003.07 1.531 1.032 1.531 1.032.892 1.53 2.341 1.088 2.91.832.092-.647.35-1.088.636-1.338-2.22-.253-4.555-1.113-4.555-4.951 0-1.093.39-1.988 1.029-2.688-.103-.253-.446-1.272.098-2.65 0 0 .84-.27 2.75 1.026A9.564 9.564 0 0112 6.844c.85.004 1.705.115 2.504.337 1.909-1.296 2.747-1.027 2.747-1.027.546 1.379.202 2.398.1 2.651.64.7 1.028 1.595 1.028 2.688 0 3.848-2.339 4.695-4.566 4.943.359.309.678.92.678 1.855 0 1.338-.012 2.419-.012 2.747 0 .268.18.58.688.482A10.019 10.019 0 0022 12.017C22 6.484 17.522 2 12 2z"
                      clip-rule="evenodd" />
                  </svg>
                </a>
              </div>
            </div>
            <p class="mt-3 text-base text-gray-500 text-justify">
              Refonte du site internet de ma cousine afin de proposer un Eshop de ses créations florales. Notre
              organisation : elle créée, je code ! Un parfait exercice pour mettre en application toutes les méthodes
              apprises en cours de formation. Ce projet n'a pas encore été déployé et possède un front et un back.
            </p>
          </div>
          <div class="mt-6 flex items-center">
            <div>
              <p class="text-sm font-medium text-darkGray">
                React, CSS, MySQL
              </p>
            </div>
          </div>
        </div>
      </div>

      <div class="flex flex-col rounded-lg shadow-lg overflow-hidden">
        <div class="flex-shrink-0">
          <img class="h-48 w-full object-cover" src="../../assets/projects/plantes.jpeg" alt="plantes">
        </div>
        <div class="flex-1 bg-white p-6 flex flex-col justify-between">
          <div class="flex-1">
            <p class="text-sm font-medium text-opal">
              <a href="#" class="hover:underline">
                Magnolia in Nantes
              </a>
            </p>
            <div class="flex items-center justify-between">
              <p class="text-xl font-semibold text-darkGray">
                Le jeu ludique
              </p>
              <div class="flex flex-row">
                <a href="https://magnoliainnantes.netlify.app/" target="_blank" class="block mt-2 pr-2">
                  <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6 hover:text-opal" fill="none"
                    viewBox="0 0 24 24" stroke="currentColor">
                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                      d="M13.828 10.172a4 4 0 00-5.656 0l-4 4a4 4 0 105.656 5.656l1.102-1.101m-.758-4.899a4 4 0 005.656 0l4-4a4 4 0 00-5.656-5.656l-1.1 1.1" />
                  </svg>
                </a>
                <a href="https://github.com/MargotToullier/nts-js-202103-p2-herbier" target="_blank"
                  class="block mt-2 ">
                  <svg class="h-6 w-6 hover:text-opal" fill="currentColor" viewBox="0 0 24 24" aria-hidden="true">
                    <path fill-rule="evenodd"
                      d="M12 2C6.477 2 2 6.484 2 12.017c0 4.425 2.865 8.18 6.839 9.504.5.092.682-.217.682-.483 0-.237-.008-.868-.013-1.703-2.782.605-3.369-1.343-3.369-1.343-.454-1.158-1.11-1.466-1.11-1.466-.908-.62.069-.608.069-.608 1.003.07 1.531 1.032 1.531 1.032.892 1.53 2.341 1.088 2.91.832.092-.647.35-1.088.636-1.338-2.22-.253-4.555-1.113-4.555-4.951 0-1.093.39-1.988 1.029-2.688-.103-.253-.446-1.272.098-2.65 0 0 .84-.27 2.75 1.026A9.564 9.564 0 0112 6.844c.85.004 1.705.115 2.504.337 1.909-1.296 2.747-1.027 2.747-1.027.546 1.379.202 2.398.1 2.651.64.7 1.028 1.595 1.028 2.688 0 3.848-2.339 4.695-4.566 4.943.359.309.678.92.678 1.855 0 1.338-.012 2.419-.012 2.747 0 .268.18.58.688.482A10.019 10.019 0 0022 12.017C22 6.484 17.522 2 12 2z"
                      clip-rule="evenodd" />
                  </svg>
                </a>
              </div>
            </div>
            <p class="mt-3 text-base text-gray-500 text-justify">
              Ce projet a été réalisé à 5 pendant 1 mois. Création d'une application 100% react qui permet de se
              balader dans les parcs nantais à la découverte des magnolias ! Aregarder en version mobile seulement.
            </p>
          </div>
          <div class="mt-6 flex items-center">
            <div>
              <p class="text-sm font-medium text-darkGray">
                React, CSS, API, Méthodes agiles
              </p>
            </div>
          </div>
        </div>
      </div>

      <div class="flex flex-col rounded-lg shadow-lg overflow-hidden">
        <div class="flex-shrink-0">
          <img class="h-48 w-full object-cover" src="../../assets/projects/nantes.jpg" alt="elephant-nantes">
        </div>
        <div class="flex-1 bg-white p-6 flex flex-col justify-between">
          <div class="flex-1">
            <p class="text-sm font-medium text-opal">
              <a href="#" class="hover:underline">
                Bienvenue à Nantes
              </a>
            </p>
            <div class="flex items-center justify-between">
              <p class="text-xl font-semibold text-darkGray">
                Notre belle ville
              </p>
              <div class="flex flex-row">
                <a href="https://teasmade.github.io/VisitNantes/index.html" target="_blank"
                  class="block mt-2 pr-2">
                  <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6 hover:text-opal" fill="none"
                    viewBox="0 0 24 24" stroke="currentColor">
                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                      d="M13.828 10.172a4 4 0 00-5.656 0l-4 4a4 4 0 105.656 5.656l1.102-1.101m-.758-4.899a4 4 0 005.656 0l4-4a4 4 0 00-5.656-5.656l-1.1 1.1" />
                  </svg>
                </a>
                <a href="https://github.com/MargotToullier/VisitNantes" target="_blank"
                  class="block mt-2 ">
                  <svg class="h-6 w-6 hover:text-opal" fill="currentColor" viewBox="0 0 24 24" aria-hidden="true">
                    <path fill-rule="evenodd"
                      d="M12 2C6.477 2 2 6.484 2 12.017c0 4.425 2.865 8.18 6.839 9.504.5.092.682-.217.682-.483 0-.237-.008-.868-.013-1.703-2.782.605-3.369-1.343-3.369-1.343-.454-1.158-1.11-1.466-1.11-1.466-.908-.62.069-.608.069-.608 1.003.07 1.531 1.032 1.531 1.032.892 1.53 2.341 1.088 2.91.832.092-.647.35-1.088.636-1.338-2.22-.253-4.555-1.113-4.555-4.951 0-1.093.39-1.988 1.029-2.688-.103-.253-.446-1.272.098-2.65 0 0 .84-.27 2.75 1.026A9.564 9.564 0 0112 6.844c.85.004 1.705.115 2.504.337 1.909-1.296 2.747-1.027 2.747-1.027.546 1.379.202 2.398.1 2.651.64.7 1.028 1.595 1.028 2.688 0 3.848-2.339 4.695-4.566 4.943.359.309.678.92.678 1.855 0 1.338-.012 2.419-.012 2.747 0 .268.18.58.688.482A10.019 10.019 0 0022 12.017C22 6.484 17.522 2 12 2z"
                      clip-rule="evenodd" />
                  </svg>
                </a>
              </div>
            </div>
            <p class="mt-3 text-base text-gray-500 text-justify">
              Nous sommes 4 et l'objectif est de créer en une semaine un site internet pour présenter la ville de
              Nantes.
            </p>
          </div>
          <div class="mt-6 flex items-center">
            <div>
              <p class="text-sm font-medium text-darkGray">
                HTML, CSS
              </p>
            </div>
          </div>
        </div>
      </div>
      
      <div class="flex flex-col rounded-lg shadow-lg overflow-hidden">
        <div class="flex-shrink-0">
          <img class="h-48 w-full object-cover" src="../../assets/projects/recherche-stage.jpg" alt="elephant-nantes">
        </div>
        <div class="flex-1 bg-white p-6 flex flex-col justify-between">
          <div class="flex-1">
            <p class="text-sm font-medium text-opal">
                Portfolio
            </p>
            <div class="flex items-center justify-between">
              <p class="text-xl font-semibold text-darkGray">
                Recherche de stage
              </p>
              <div class="flex flex-row">
                <a href="https://margottoullier.netlify.app/" target="_blank"
                  class="block mt-2 pr-2">
                  <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6 hover:text-opal" fill="none"
                    viewBox="0 0 24 24" stroke="currentColor">
                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                      d="M13.828 10.172a4 4 0 00-5.656 0l-4 4a4 4 0 105.656 5.656l1.102-1.101m-.758-4.899a4 4 0 005.656 0l4-4a4 4 0 00-5.656-5.656l-1.1 1.1" />
                  </svg>
                </a>
                <a href="https://github.com/MargotToullier/portfolio-html" target="_blank"
                  class="block mt-2 ">
                  <svg class="h-6 w-6 hover:text-opal" fill="currentColor" viewBox="0 0 24 24" aria-hidden="true">
                    <path fill-rule="evenodd"
                      d="M12 2C6.477 2 2 6.484 2 12.017c0 4.425 2.865 8.18 6.839 9.504.5.092.682-.217.682-.483 0-.237-.008-.868-.013-1.703-2.782.605-3.369-1.343-3.369-1.343-.454-1.158-1.11-1.466-1.11-1.466-.908-.62.069-.608.069-.608 1.003.07 1.531 1.032 1.531 1.032.892 1.53 2.341 1.088 2.91.832.092-.647.35-1.088.636-1.338-2.22-.253-4.555-1.113-4.555-4.951 0-1.093.39-1.988 1.029-2.688-.103-.253-.446-1.272.098-2.65 0 0 .84-.27 2.75 1.026A9.564 9.564 0 0112 6.844c.85.004 1.705.115 2.504.337 1.909-1.296 2.747-1.027 2.747-1.027.546 1.379.202 2.398.1 2.651.64.7 1.028 1.595 1.028 2.688 0 3.848-2.339 4.695-4.566 4.943.359.309.678.92.678 1.855 0 1.338-.012 2.419-.012 2.747 0 .268.18.58.688.482A10.019 10.019 0 0022 12.017C22 6.484 17.522 2 12 2z"
                      clip-rule="evenodd" />
                  </svg>
                </a>
              </div>
            </div>
            <p class="mt-3 text-base text-gray-500 text-justify">
              Ce portfolio a été réalisé en HTML et CSS pour la recherche de stage. Désormais, ayant plus de connaissance, je l'ai entièrement repensé afin d'utiliser des meilleurs pratiques et un plus beau rendu visuel.
            </p>
          </div>
          <div class="mt-6 flex items-center">
            <div>
              <p class="text-sm font-medium text-darkGray">
                HTML, CSS
              </p>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>