<div id="presentation" class="relative bg-gray-50 pt-16 sm:pt-24 lg:pt-32">
  <div class="mx-auto max-w-md px-4 text-center sm:px-6 sm:max-w-3xl lg:px-8 lg:max-w-7xl">
    <div>
      <h2 class="text-base font-semibold tracking-wider text-opal uppercase">Présentation</h2>
      <p class="mt-2 text-3xl font-extrabold text-darkGray tracking-tight sm:text-4xl">
        Mon parcours
      </p>
      <p class="mt-5 max-w-prose mx-auto text-xl text-darkGray text-justify">
        Technicienne de laboratoire depuis 10 ans, j'ai décidé de passer le cap de la reconversion. De nature curieuse et ambitieuse, j'ai souhaité bousculer mon quotidien pour me plonger dans l'inconnu (?) Pas vraiment...
      </p>
      <p class="mt-5 max-w-prose mx-auto text-xl text-darkGray text-justify">
        Lors de ma dernière expérience professionnelle, j'ai découvert le métier de développeur web puisque c'est avec des professionnels du métier que j'ai mené un projet de plateforme web pour le laboratoire. La seule différence est que j'ai orchestré ce projet du côté client. L'avantage est que je suis à l'aise pour communiquer avec les clients et mieux comprendre leurs exigences. Désormais, grâce à ma formation intensive à la Wild Code School, je peux également traduire en language informatique ce que vous souhaitez.
      </p>
      <p class="mt-5 max-w-prose mx-auto text-xl text-darkGray text-justify">
        Je suis actuellement en stage chez BrickRiverLab où j'ai pu apprendre et me familiariser avec Angular/JS, TailwindCSS et Firebase (vous en saurez plus en allant voir mes projets).
      </p>
      <p class="mt-5 max-w-prose mx-auto text-xl text-darkGray text-justify">
        Je souhaite désormais aboutir ma reconversion et trouver un 1er emploi de développeuse junior à Nantes ou en remote à partir de décembre.
      </p>
      <p class="pt-6 mt-2 text-3xl font-bold text-darkGray tracking-tight sm:text-4xl ">
        <a href="mailto:margot@toullier.fr">
        On discute ?
        </a>
      </p>
      </div>
    </div>
    <div class="flex justify-center">
    <img class="mt-12 -mb-10 z-40 w-40 h-40 rounded-full"
      src="../../assets/Portrait.JPG" alt="portrait">
    </div>
  </div>