<div id="contact" class="relative">
  <div class="absolute left-0 right-0 h-1/2 bg-warm-gray-50" aria-hidden="true"></div>
  <div class="relative max-w-md mx-auto px-4 sm:max-w-3xl sm:px-6 lg:max-w-7xl lg:px-8">
    <div class="py-10 px-6 bg-gradient-to-l from-opal to-darkGray rounded-3xl sm:py-16 sm:px-12 lg:py-20 lg:px-20 lg:flex lg:items-center">
      <div class="lg:w-0 lg:flex-1">
        <h2 class="text-3xl font-extrabold tracking-tight text-white">
          Contactez moi !
        </h2>
        <p class="mt-4 max-w-3xl text-lg text-white">
          Vous pouvez trouver le lien vers mon Github qui répertorie tous mes projets, vers Linkedin pour avoir plus en détails mes dernières expériences.
        </p>
        <p class="mt-4 max-w-3xl text-lg text-white">
          Si vous voulez en savoir plus et pour garder une petite trace de votre passage sur mon portfolio, téléchargez mon CV, vous y trouverez mes softskills et d'autres détails sur moi. 
        </p>
      </div>
      <div class="mt-12 sm:w-full sm:max-w-md lg:mt-0 lg:ml-8 lg:flex-1">
        
        <div class="flex flex-row justify-center items-center">
          <a href="https://www.linkedin.com/in/margot-toullier/" target="_blank"><img class="h-10 mr-5 transform hover:scale-125"
              src="../../assets/linkedin (1).png" alt="Logo linkedin"/></a>
          <a href="https://github.com/MargotToullier" target="_blank"><img src="../../assets/languages/github.png"
              alt="Logo github" class="h-10 mr-5 transform hover:scale-125"/></a>
          <a href="mailto:margottoullier@gmail.com" target="_blank"><img class="h-10 mr-5 transform hover:scale-125" src="../../assets/email.png"
              alt="logo mail"/></a>
          <a href='./assets/CV-TOULLIER_Margot.pdf' download="CV-TOULLIER-Margot"><img src="../../assets/cv.png"
              class="h-10 mr-5 transform hover:scale-125" alt="logo cv"/></a>
        </div>
        <div>
          <p class="flex flex-row justify-center items-center mt-5 text-lg font-bold tracking-tight">06 87 47 36 76</p>
        </div>
      </div>
    </div>
  </div>
</div>
