<!-- Feature section with grid -->
<div id="competences" class="relative bg-white py-16 sm:py-40 lg:py-40">
  <div class="mx-auto max-w-md px-4 text-center sm:max-w-3xl sm:px-6 lg:px-8 lg:max-w-7xl">
    <h2 class="text-base font-semibold tracking-wider text-darkGray uppercase">Full stacks</h2>

    <div class="mt-12">
      <div class="grid grid-cols-1 gap-5 sm:grid-cols-2 lg:grid-cols-3">
        <div class="pt-6">
          <div class="">
            <span
              class="w-40 inline-flex items-center justify-center p-3 bg-opal rounded-md shadow-lg text-white transform hover:scale-125 cursor-default">
              Angular
            </span>
          </div>
        </div>

        <div class="pt-6">
          <div class="">
            <span
              class="w-40 inline-flex items-center justify-center p-3 bg-opal rounded-md shadow-lg text-white transform hover:scale-125 cursor-default">
              React
            </span>
          </div>
        </div>

        <div class="pt-6">
          <div class="">
            <span
              class="w-40 inline-flex items-center justify-center p-3 bg-opal rounded-md shadow-lg text-white transform hover:scale-125 cursor-default">
              TailwindCSS
            </span>
          </div>
        </div>

        <div class="pt-6">
          <div class="">
            <span
              class="w-40 inline-flex items-center justify-center p-3 bg-opal rounded-md shadow-lg text-white transform hover:scale-125 cursor-default">
              Node
            </span>
          </div>
        </div>

        <div class="pt-6">
          <div class="">
            <span
              class="w-40 inline-flex items-center justify-center p-3 bg-opal rounded-md shadow-lg text-white transform hover:scale-125 cursor-default">
              MySQL
            </span>
          </div>
        </div>

        <div class="pt-6">
          <div class="">
            <span
              class="w-40 inline-flex items-center justify-center p-3 bg-opal rounded-md shadow-lg text-white transform hover:scale-125 cursor-default">
              Firebase
            </span>
          </div>
        </div>

        <div class="pt-6">
          <div class="">
            <span
              class="w-40 inline-flex items-center justify-center p-3 bg-opal rounded-md shadow-lg text-white transform hover:scale-125 cursor-default">
              HTML / CSS
            </span>
          </div>
        </div>

        <div class="pt-6">
          <div class="">
            <span
              class="w-40 inline-flex items-center justify-center p-3 bg-opal rounded-md shadow-lg text-white transform hover:scale-125 cursor-default">
              Git / Github
            </span>
          </div>
        </div>

        <div class="pt-6">
          <div class="">
            <span
              class="w-40 inline-flex items-center justify-center p-3 bg-opal rounded-md shadow-lg text-white transform hover:scale-125 cursor-default">
              Méthodes agiles
            </span>
          </div>
        </div>

      </div>
    </div>
  </div>
</div>