<div id="formations" class="relative py-16 bg-white overflow-hidden">
  <div class="hidden lg:block lg:absolute lg:inset-y-0 lg:h-full lg:w-full">
    <div class="relative h-full text-lg max-w-prose mx-auto" aria-hidden="true">
      <svg class="absolute top-12 left-full transform translate-x-32" width="404" height="384" fill="none"
        viewBox="0 0 404 384">
        <defs>
          <pattern id="74b3fd99-0a6f-4271-bef2-e80eeafdf357" x="0" y="0" width="20" height="20"
            patternUnits="userSpaceOnUse">
            <rect x="0" y="0" width="4" height="4" class="text-gray-200" fill="currentColor" />
          </pattern>
        </defs>
        <rect width="404" height="384" fill="url(#74b3fd99-0a6f-4271-bef2-e80eeafdf357)" />
      </svg>
      <svg class="absolute top-1/2 right-full transform -translate-y-1/2 -translate-x-32" width="404" height="384"
        fill="none" viewBox="0 0 404 384">
        <defs>
          <pattern id="f210dbf6-a58d-4871-961e-36d5016a0f49" x="0" y="0" width="20" height="20"
            patternUnits="userSpaceOnUse">
            <rect x="0" y="0" width="4" height="4" class="text-gray-200" fill="currentColor" />
          </pattern>
        </defs>
        <rect width="404" height="384" fill="url(#f210dbf6-a58d-4871-961e-36d5016a0f49)" />
      </svg>
      <svg class="absolute bottom-12 left-full transform translate-x-32" width="404" height="384" fill="none"
        viewBox="0 0 404 384">
        <defs>
          <pattern id="d3eb07ae-5182-43e6-857d-35c643af9034" x="0" y="0" width="20" height="20"
            patternUnits="userSpaceOnUse">
            <rect x="0" y="0" width="4" height="4" class="text-gray-200" fill="currentColor" />
          </pattern>
        </defs>
        <rect width="404" height="384" fill="url(#d3eb07ae-5182-43e6-857d-35c643af9034)" />
      </svg>
    </div>
  </div>
  <div class="relative px-4 sm:px-6 lg:px-8">
    <div class="text-lg max-w-prose mx-auto">
      <h1>
        <span class="block text-base text-center text-darkGray font-semibold tracking-wide uppercase">Formation &
          Expériences professionnelles</span>
        <span
          class="mt-5 block text-3xl text-center leading-8 font-extrabold tracking-tight text-opal sm:text-4xl">Brick
          River Lab</span>
      </h1>
      <p class="mt-8 text-xl text-gray-900 leading-8 text-justify">Stage développeuse web Fullstack | 4 mois Août-Novembre 2021
      </p>
      <ul class="mt-8 text-base text-gray-500 leading-8 text-justify">
        <li>&raquo; Suppression de Material-Angular et Terradata sur un site
        existant pour basculer en TailwindCSS</li>
        <li>&raquo; Documentation sur Tailwind et Angular</li>
        <li>&raquo; Création de chaque composant avec les modals TailwindCSS et amélioration UI</li>
        <li>&raquo; Mise en place de plusieurs fonctionnalités Angular et Firebase</li>
      </ul>
    </div>
    <div class="text-lg max-w-prose mx-auto">
      <h1>
        <span
          class="mt-5 block text-3xl text-center leading-8 font-extrabold tracking-tight text-opal sm:text-4xl">Wild
          Code School</span>
      </h1>
      <p class="mt-8 text-xl text-gray-900 leading-8 text-justify">Développeuse web & mobile | Mars - Juillet 2021</p>
      <p class="mt-8 text-base text-gray-500 leading-8 text-justify">Un programme intensif de 5 mois qui repose sur la pratique
        à travers 3 projets en groupe en utilisant les méthodes agiles. Languages : HTML, CSS, Javascript, React, Node, MySQL</p>
    </div>
    <div class="text-lg max-w-prose mx-auto">
      <h1>
        <span
          class="mt-5 block text-3xl text-center leading-8 font-extrabold tracking-tight text-opal sm:text-4xl">CCA Group</span>
      </h1>
      <p class="mt-8 text-xl text-gray-900 leading-8 text-justify">Technicienne d'étude clinique | 2016-2021</p>
      <p class="mt-8 text-base text-gray-500 leading-8 text-justify">Grâce à ma rigueur et mon envie d'apprendre permanente, j'ai également pu, en plus de mon poste:</p>
        <ul class="mt-8 text-base text-gray-500 leading-8 text-justify">
          <li>Développer un site web de gestion d'étude :<br>&raquo; animation des <strong>réunions de projet</strong>,
            <br>&raquo; validation du <strong>cahier des charges</strong>, <br>&raquo; réalisation des <strong>tests
              techniques</strong>, <br>&raquo; rédaction des <strong>procédures</strong>,<br>&raquo; référencement de
            l’avancé du projet dans le <strong>système qualité</strong>,<br>&raquo; animation du <strong>support
              technique</strong>,<br>&raquo; réflexion permanente sur les <strong>évolutions</strong> de développement.
          </li><br>
          <li>M'occuper de la communication : <br>&raquo; proposition, rédaction et animation des réseaux sociaux pour
            recruter des volontaires, <br>&raquo; création de flyers en respectant l’identité visuelle et la charte
            graphique de l’entreprise, <br>&raquo; statistiques et compte rendu mensuel sur les résultats des moyens
            utilisés, <br>&raquo; recherche permanente de nouvelles idées.</li><br>
          <li>Être référente du parc informatique (constat et réparation des problèmes serveurs avec le responsable
            informatique non présent sur site).</li>
        </ul>
    </div>
    <div class="text-lg max-w-prose mx-auto">
      <h1>
        <span
          class="mt-5 block text-3xl text-center leading-8 font-extrabold tracking-tight text-opal sm:text-4xl">Lactalis</span>
      </h1>
      <p class="mt-8 text-xl text-gray-900 leading-8 text-justify">Technicienne polyvalente en microbiologie et chimie | 2015</p>
    </div>
    <div class="text-lg max-w-prose mx-auto">
      <h1>
        <span
          class="mt-5 block text-3xl text-center leading-8 font-extrabold tracking-tight text-opal sm:text-4xl">Loïc Raison</span>
      </h1>
      <p class="mt-8 text-xl text-gray-900 leading-8 text-justify">Technicienne polyvalente en microbiologie et chimie | 2015</p>
    </div>
    <div class="text-lg max-w-prose mx-auto">
      <h1>
        <span
          class="mt-5 block text-3xl text-center leading-8 font-extrabold tracking-tight text-opal sm:text-4xl">Entremont alliance</span>
      </h1>
      <p class="mt-8 text-xl text-gray-900 leading-8 text-justify">Technicienne polyvalente en microbiologie et chimie | 2012 - 2014</p>
    </div>
    <div class="text-lg max-w-prose mx-auto">
      <h1>
        <span
          class="mt-5 block text-3xl text-center leading-8 font-extrabold tracking-tight text-opal sm:text-4xl">BTS Bioanalyse & contôle</span>
      </h1>
      <p class="mt-8 text-xl text-gray-900 leading-8 text-justify">Lorient - 2012</p>
    </div>
    <div class="text-lg max-w-prose mx-auto">
      <h1>
        <span
          class="mt-5 block text-3xl text-center leading-8 font-extrabold tracking-tight text-opal sm:text-4xl">BAC Mention</span>
      </h1>
      <p class="mt-8 text-xl text-gray-900 leading-8 text-justify">Rennes - 2010</p>
    </div>
  </div>
</div>
