<header class="relative">
  <div class="bg-opal pt-6">
    <nav class="relative max-w-7xl mx-auto flex items-center justify-between px-4 sm:px-6" aria-label="Global">
      <div class="flex items-center flex-1">
        <div class="hidden space-x-8 md:flex">
          <a href="#presentation" class="text-base font-medium text-white hover:text-darkGray">Presentation</a>
          <a href="#competences" class="text-base font-medium text-white hover:text-darkGray">Compétences</a>
          <a href="#projets" class="text-base font-medium text-white hover:text-darkGray">Projets</a>
          <a href="#formations" class="text-base font-medium text-white hover:text-darkGray">Formations</a>
          <a href="#contact" class="text-base font-medium text-white hover:text-darkGray">Contact</a>
        </div>
      </div>
    </nav>
  </div>
</header>
